@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Courgette');

nav{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left:0px;
  width: 100%;
  z-index: 1;
  padding: 0 8em;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

nav ul li {
  float: left;  
  font-size: 1.3em;
}
nav ul li a {
  display: inline-block;
  color: #a8a8a8;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  position: relative;
  font-family:  'Inconsolata', monospace;
}

nav ul li a:hover {
  color: #fff;
}


header{
  height: 48em;
  background: #00000028 url(../assets/hero-large.jpeg) no-repeat center bottom;
  background-attachment: fixed;
  position: relative;
}

header div.hero {
  text-align: center;
  font-size: 2em; 
  padding: 9.5em 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.295);  
}

header div.hero div.heading {
  font-size: 2em;
  font-family: 'Courgette', sans-serif;
 
}

header div.hero div.subHeading {
  font-size: 1.2em;
  font-family: sans-serif;
}